.header__email {
  margin-bottom: 46px;
  margin-top: 0;
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .header__email {
    margin: 0 89px 18px;
  }
}
