.popup__content {
  max-width: 430px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__content {
    max-width: 282px;
  }
}
