.auth__input {
  max-width: 358px;
  border: 2px none #CCCCCC;
  border-bottom-style: solid;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.auth__input:first-of-type {
  margin-bottom: 30px;
}

.auth__input:last-of-type {
  margin-bottom: 216px;
}

::placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 767px) {
  .auth__input {
    max-width: 260px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .auth__input:first-of-type {
    margin-bottom: 0;
  }

  .auth__input:last-of-type {
    margin-bottom: 173px;
  }
}
