@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__navigation/header__navigation.css");
@import url("./blocks/header/__container/header__container.css");
@import url("./blocks/header/__email/header__email.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/content/content.css");
@import url("./blocks/auth/auth.css");
@import url("./blocks/auth/__form/auth__form.css");
@import url("./blocks/auth/__title/auth__title.css");
@import url("./blocks/auth/__input/auth__input.css");
@import url("blocks/auth/__save-button/auth__save-button.css");
@import url("blocks/auth/__signin/auth__signin.css");
@import url("blocks/auth/__save-button/_sign-in/auth__save-button_sign-in.css");
@import url("blocks/auth/__save-button/_sign-up/auth__save-button_sign-up.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__picture-kit/profile__picture-kit.css");
@import url("./blocks/profile/__picture/profile__picture.css");
@import url("./blocks/profile/__overlay/profile__overlay.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__name-kit/profile__name-kit.css");
@import url("./blocks/cards/cards.css");
@import url("./blocks/cards/__group/cards__group.css");
@import url("./blocks/cards/__description-area/cards__description-area.css");
@import url("./blocks/cards/__image-container/cards__image-container.css");
@import url("./blocks/cards/__photo/cards__photo.css");
@import url("./blocks/cards/__description/cards__description.css");
@import url("./blocks/cards/__remove-button/cards__remove-button.css");
@import url("./blocks/cards/__remove-button/_hidden/cards__remove-button_hidden.css");
@import url("./blocks/cards/__like-button/cards__like-button.css");
@import url("./blocks/cards/__like-button/_active/cards__like-button_active.css");
@import url("./blocks/cards/__like-counter/cards__like-counter.css");
@import url("./blocks/cards/__like-kit/cards__like-kit.css");
@import url("./blocks/cards/__group/cards__group.css");
@import url("./blocks/cards/__loading/cards__loading.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__content/popup__content.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__title/_confirmation/popup__title_confirmation.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__save-button/popup__save-button.css");
@import url("./blocks/popup/__save-button/_confirmation/popup__save-button_confirmation.css");
@import url("./blocks/zoomed-photo/zoomed-photo.css");
@import url("./blocks/overlay/overlay.css");
@import url("./blocks/caption/caption.css");
@import url("./blocks/popup/__content-zoomed/popup__content-zoomed.css");
@import url("./blocks/popup/__form/_type/popup__form_type_error.css");
@import url("./blocks/input-error/input-error.css");
@import url("./blocks/input-error/_avatar/input-error_avatar.css");
@import url("./blocks/popup/__save-button/_state/popup__save-button_state_disabled.css");
@import url("./blocks/info-tooltip/info-tooltip.css");
@import url("./blocks/info-tooltip/__image/info-tooltip__image.css");
@import url("./blocks/info-tooltip/__message/info-tooltip__message.css");
